package ${packageName}.${module}.vo;

import lombok.Data;

#if($hasDate)
import java.util.Date;
#end
import java.util.List;

@Data
public class ${ClassName}VO {


    #foreach($column in $columns)
    /**
     * $column.comment
     */
    private $column.type $column.attributeName;

    #end
}
