package ${packageName}.${module}.service;

import ${packageName}.${module}.vo.${ClassName}VO;
import ${packageName}.${module}.model.${ClassName};

import java.util.List;

public interface ${ClassName}Service {

    ${ClassName} findById(Integer id);

    List<${ClassName}VO> findByCondition(${ClassName}VO ${className}VO);

    void save(${ClassName} user);

    int update(${ClassName} user);

    int deleteById(Integer id);

    List<${ClassName}VO> findAll(${ClassName}VO ${className}VO);

}